services:
  app:
    build:
      context: .
      dockerfile: .docker/php/Dockerfile
      args:
        PUID: ${PUID}
        PGID: ${PGID}
    container_name: test_app
    volumes:
      - .:/var/www/html
    ports:
      - "8080:80"
      - "5173:5173"
    environment:
      XDEBUG_MODE: debug
      XDEBUG_CONFIG: client_host=host.docker.internal
    depends_on:
      - db
    networks:
      - laravel

  db:
    image: mysql:8.0.39
    container_name: test_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - laravel

  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin/phpmyadmin
    container_name: test_phpmyadmin
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      UPLOAD_LIMIT: 10000M
    networks:
      - laravel

  mailhog:
    image: mailhog/mailhog
    container_name: test__mailhog
    ports:
      - "8025:8025"
      - "1025:1025"
    networks:
      - laravel

volumes:
  db_data:

networks:
  laravel:
    driver: bridge
